@media only screen and (min-width:0px){
    body{
        background-color: #ffffff;
    }

    h1{
        background-color:rgb(20, 158, 160);
        color:#ffffff;
        text-align:center;
    }

    h2{
        color:#ffffff;
        text-align:center;
    }

    h3{
        color:#ffffff;
        text-align:center;
    }

    ul{
        list-style: none;
    }

    li{
        text-align: center;
    }

    p{
        color:#bbbbbb;
        margin-right:300px;
        margin-left:300px;
    }

    a{
        text-align: center;
        background-color: #bbbbbb;
    }
}

@media only screen and (min-width:500px){
    body{
        background-color:#000000;
    }

    h1{
        background-color:rgb(20, 158, 160);
        color:#ffffff;
        text-align:center;
        font-size: 40pt;
    }

    h2{
        color:#ffffff;
        text-align:center;
    }

    h3{
        color:#ffffff;
        text-align:center;
    }
    ul{
        list-style: none;
    }
    li{
        text-align: center;
    }

    p{
        color:#bbbbbb;
        margin-right:300px;
        margin-left:300px;
        font-size: 20pt;
    }

    a{
        text-align: center;
        background-color: #bbbbbb;
    }
}

